<html>

<head>
    <title>Crore Darood</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var counter = 0;
        var name = '<%=name%>';
        console.log("hello name:" + name);
        $(document).ready(function () {

            $("#counterBtn").click(function () {
                console.log("inside counterBtn clicke");
               
                incrementCount();
            });

            function incrementCount() {
                console.log("inside increment counter");
                // call backend put /users/:name/counter/incr?step=<step>
                incremenetBackend();
            }

            function incremenetBackend() {
                console.log("inside increment backend");

                var incrementCounterUrl = `http://darood.tauqeer.in/users/${name}/counters/incr`;
                console.log("incrementCounterUrl:" + incrementCounterUrl);
                $.ajax({
                    url: incrementCounterUrl,
                    method: 'put',
                    success: function (result) {
                        getCounterBackend();
                        // $("#counter").text(counter);
                    }
                });

            }

            function getCounterBackend() {
                console.log("inside get counter backend");
                var getCounterUrl = `http://darood.tauqeer.in/users/${name}/counters`;
                console.log("getCounterUrl", getCounterUrl);
                $.get({
                    url: getCounterUrl,
                    success: function (result) {
                        console.log("result", result);
                        counter = result.counter;
                        updateCounterView(counter);
                    }
                });

            }

            function updateCounterView(counter){
                console.log("inside updateCounter view")
                $("#counter").text(counter);
            }
        });
    </script>
</head>

<body>
    <h1>Crore Darood Project</h1>
    <p>Hello <%= name %>
    </p>
    <div>Counter: <span id="counter">0</span></span></div>
    <button id="counterBtn">+</button>
</body>

</html>